networks:
  kafka-net:
    driver: bridge

services:
  broker:
    image: apache/kafka:latest
    container_name: broker
    ports:
      - 9092:9092
    networks:
      - kafka-net
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
